.movie-card {
    background-color: steelblue;
    color: black;
    width: 200px;
    margin: 10px;
    border-radius: 0  0 10px 10px;
    text-align: center;
}
.info{
    padding:  0 25px 10px 25px;
}
.card-icon{
    display: flex;
    position: absolute;
    left: 10px;
    top: 10px;
    gap: 2px;
    z-index: 1000;
}
i{
    color: steelblue;
    
}
.card-icon div{
    padding: 10px 12px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 100px;
    cursor: pointer;
}
.movie-card img {
    width: 100%;
    border-radius: 0px !important;
}
.movie-card h2 {
    font-size: 18px;
    margin: 10px 0 5px;
}
.movie-card p {
    margin: 5px 0;
    text-align: center !important;
}
.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

